* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  height: 93vh;
  padding-top: 15rem;
  background-color: #252934;
}
.brief-introduction {
  align-self: center;
  /* border: 2px solid green;  */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.view-work {
  display: flex;
  align-self: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  /* border:2px solid #f9320a; */
}
.my-stack-intro {
  width: 100%;
}
span.arrow-right {
  transition: transform 0.5s ease-in;
}

.view-work:hover {
  background-color: #60c3ca;
  cursor: pointer;
  border: 1px solid #60c3ca;
  transition: 0.5s linear;
}
.view-work:hover span.arrow-right {
  /* background-color: #60C3CA; */
  cursor: pointer;
  /* border: 1px solid #60C3CA; */
  transition: 0.5s linear;
  /* background-color:red; */
  /* color: #60C3CA; */
  transform: rotate(90deg);
}

.mobile-menu-icon {
  display: none;
}
.logo {
  cursor: pointer;
}
.logo:hover {
  color: #e42e6d;
}

@keyframes switch-position {
}

.nav-links{
   /* border: 2px solid yellow;  */
  display: flex;
  gap: 1.5rem;
}
nav.nav-section-container {
  color: white;

  
  border-bottom: 2px solid #60c3ca;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 3rem;
  padding-left: 5rem;
  padding-right: 50rem;
  background-color: black;
  position: sticky;
  top: 0;
}
.nav-section-container a:hover {
  background-color: #60c3ca;
  transition: 0.5s ease-in;
}
a {
  text-decoration: none;
}
.logo {
  font-size: 1.5rem;
  color: white;
}
li {
  color: white;
  font-size: 20px;
  margin: 0.5rem;
  list-style-type: none;
}
.home {
  color: #e42e6d;
}

.general-main-container {
  padding-left: 15rem;
  padding-right: 15rem;
  /* border: 2px solid red; */
}


.section-about-section {
 
 margin-top: 12rem;
}
.about-me-susan {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  background-color: white;
  color: black;
  
  
  margin: auto;
}
.subTopic-about-me {
  color: black;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  /* border: 2px solid red; */
}
.about-me-details {
  
  
  font-size: 1rem;
  line-height: 2;
  /* border: 2px solid green; */
  font-size: 20px;
}
.susu {
  /* max-width: 60%; */
  height: 100%;

  
  width: 100%;
  text-align: center;
}

/* work experience */

.place-of-work-section {
  margin: 40px 0;
  
  
  /* color: white; */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.place-of-work-section h2 {
  color: black;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.place-of-work-wrapper {
  text-align: center;
  margin: 40px;
}


.places-of-work {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green;   */
  width: 70%;
  gap: 1rem;
  font-size: 20px;
  margin-top: 2rem;
}

/* PROJECT SECTION */

/* PROJECT SECTION */

.project-card-wrapper {
  display: flex;

  transition: 1s ease-in-out;
  
  
  margin: auto;
  gap: 1rem;
  
  height: auto;
  
  
  justify-content: center;
  /* border: 2px solid red; */

 
}

.project-card {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 2px solid black;
  
  border: 7px solid white;
  width: 100%;
}

#second-project {
 
  
  color: white;
}
#first-project {
  /* width: 700px; */
  /* border: 2px solid red; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-card img {
  width: 100%;
  
}

.card-content {
  /* width: 300px; */
  padding: 2px 16px;
}

.project-title {
  color: #f9320a;
  margin-bottom: 10px;
  font-size: 17px;
}

.project-brief {
  font-size: 14px;
  color: #60c3ca;
}
.project-links {
  display: flex;
  justify-content: flex-start;
  /* justify-content: center;  */
  align-items: center;
  margin-top: 10px;
  margin-left: 1em;
  gap: 10px;
  max-width: 100px;
  /* border: 2px solid black; */
}

.project-links svg {
  width: 20px;
  height: 20px;
  fill: #f9320a;
}

.projects-title {
  color: black;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

/* STACK SECTION */

.different-stacks-used {
  /* border:2px solid red;  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.my-stack {
  width: 100px;
  height: 100px;
}

.my-stack-rct {
  width: 80px;
  height: 80px;
}

.skill-set-header {
  color: black;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}
.stack-section {
  /* border: 3px solid green; */
  color: black;
  text-align: center;
  margin-top: 4rem;
}
.stack-group {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  color: #60c3ca;
}

/* chrome */
.stack-progress::-webkit-progress-bar {
  background-color: rgb(236, 227, 227);
  border-radius: 100px;
}
.stack-progress::-webkit-progress-value {
  background-color: #f9320a;
  border-radius: 100px;
}
/* mozila */

.stack-progress::-moz-progress-bar {
  background-color: white;
  border-radius: 100px;
}
/* IEOI */
.stack-progress {
  color: hsl(10, 95%, 51%);
  border-radius: 100px;
}

.stack-progress-wrapper label {
  display: block;
}

/* contact me section */
.footer-section {
  margin-top: 7rem;
}

section.contact-me {
  background-color: #252934;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding: initial;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 135px;
}

.wave .shape-fill {
  fill: #ffffff;
}

.contact-header {
  color: white;
  margin-bottom: 2rem;
  margin-top: 9rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}
.a-qtn {
  color: #60c3ca;
  font-size: 20px;
  margin-bottom: 2rem;
}


input {
  display: block;
   /* padding-left: 10rem;  */
   padding-right: 10rem; 
  padding-top: 12px; 
   padding-bottom: 12px; 
  /* padding: 200px; */
  background-color: black;
  outline: none;
  color: white;
  position: relative;
  /* left: 1rem; */
  width: 100%;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
}

::-webkit-input-placeholder {
  /* Edge */
  position: absolute;
  left: 0;
  font-size: 18px;
  padding-left: 0;

  /* text-align: left; */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  position: absolute;
  left: 1rem;
  font-size: 18px;
  text-align: left;
}

::placeholder {
  position: absolute;
    left: 1rem;   
  font-size: 14px;
  /* text-align: left; */
}

/* text-area */
textarea {
  text-align: center;
  /* margin-left: 1rem; */
  background-color: black;
  background-color: white;
  color: #4b4c4f;
  background-color: black;
  /* margin-top: 2rem; */
  display: block;
  text-align: start;
  width: 100%;
  color: white;
 
}

.button-submit {
  display: block;
  text-align: end;
  margin-top: 1rem;
  
}




button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 2px solid white;
  background-color: #252934;
  color: white;
  cursor: pointer;
  /* border: 2px solid yellowgreen; */
}

button:hover {
  background-color: #60c3ca;
  cursor: pointer;
  border: 1px solid #60c3ca;
  transition: 0.5s ease-in;
}

/* social media */
.social-media-links {
  margin-bottom: 4rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: black;
}
.social-media-contaner svg {
  fill: #e42e6d;
  color: white;
}
bi .bi-arrow-up-square-fill {
  color: white;
}
.scrool-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  /* border: 2px solid red; */
  font-size: 30px;
}
.social-media-links svg {
  fill: white;
  color: white;
}

.social-media-contaner {
  background-color: black;
}
.scrool-up a:hover {
  background-color: #60c3ca;
  transition: 0.5s ease-in;
}

/* hover effects */
.twitter {
  border: 2px solid #252934;
  background-color: #252934;
  width: 45px;
  text-align: center;
}

.twitter:hover {
  background-color: #60c3ca;
}
.twitter a svg {
  /* border: 2px solid red;  */
  height: 35px;
  transition: transform 0.5ms linear;
}

.twitter a svg:hover {
  transform: translateY(20%);
}

/* linkdin */
.linkdin {
  border: 2px solid #252934;
  background-color: #252934;
  width: 45px;
  text-align: center;
}

.linkdin:hover {
  background-color: #60c3ca;
}
.linkdin a svg {
  /* border: 2px solid red;  */

  height: 35px;
  transition: transform 0.5ms linear;
}

.linkdin a svg:hover {
  transform: translateY(20%);
}

/* github */
.github {
  border: 2px solid #252934;
  background-color: #252934;
  width: 45px;
  text-align: center;
}

.github:hover {
  background-color: #60c3ca;
}
.github a svg {
  /* border: 2px solid red;  */
  height: 35px;
  transition: transform 0.5ms linear;
}

.github a svg:hover {
  transform: translateY(20%);
}

/* .twitter a svg{
    animation: top-to-bottom 0.5ms linear;
}
@keyframes top-to-bottom{
    20%{
        transform: translateY(20%);
    }
} */

@media (max-width:780px) {
   .body-container{
     overflow-x:hidden; 
     overflow: hidden;
    height:100%;
    width:100%;
    margin:0;
  } 

 
  nav.nav-section-container{
    padding-right: revert;
    padding: 0;
    width: 100%;
  }

   .nav-links {
    
    /* flex-direction: column;
    
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top:0 ;
    left:0rem;
    gap: 0;
    
    background-color: #252934;
    color:white;
    border: 2px solid green;
     height: 100%; 
     margin-top: 3rem;
     padding-bottom: 5rem;
     */
     display: none;
  } 
  .logo{
    color: #e42e6d;
  }
  .mobile-nav-links {
    /* position: absolute;
    /* display: block; */
    /* list-style: none;
    right: 0;
    transition: all 0.5s ease-out;
    width: 100%; */
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top:0 ;
    left:0rem;
    gap: 0;
    
    background-color: #252934;
    color:white;
    border: 2px solid green;
     height: 100%; 
     margin-top: 3rem;
     padding-bottom: 5rem;
  } 
  .mobile-menu-icon{
    display: block;
    position: relative;
    font-size: 1rem; 
    color: white;
    border: none;
    outline: none;
    top:0px;
    height: 3rem;
    background-color: black;
    border-bottom:2px solid #60c3ca;
    /* right: 10rem; */
  }
  
   .anchor-link {
    text-align: center;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease;
    background-color: #252934;
    list-style: none;
    outline: none;
    /* margin-top: -10px; */
  } 
  
   /* .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    right: 0;
  }  */
  .general-main-container {
    padding: initial;
  }
.section-about-section{
  margin-top: 16rem;
  margin-bottom: 0.5rem;
}
  .about-me-susan {
    width: 100%;
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  .about-me-details {
    text-align: justify;
    width: 90%;
    margin: auto;
    font-size: 18px;
  }
  .abtImage-of-susan {
    width: 100%;
    height: auto;
  }
  .different-stacks-used {
    flex-direction: column;
  }
  .project-card-wrapper {
    flex-direction: column;
    margin: auto;
    width: 95%;
  }
  #first-project {
    width: 95%;
    margin: auto;
  }
  #second-project {
    width: 95%;
    margin: auto;
  }

  section.contact-me {
    padding: initial;
  }

  form {
    width: 95%;
    margin: auto;
    margin: auto;
  }

  input {
    padding-left: inherit;
    padding-right: initial;
    width: 95%;
    margin: auto;
    position: relative;
    left: 0;
  }

  textarea {
    width: 95%;
    margin-left: 0.5rem;
  }

  .button-submit {
    width: 97%;
  }
}
